.grid-container {
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-rows: 120px 1fr 70px;
    grid-template-areas: 
        'Signin'
        'Coments'
        'NewComent';
}

.NewComent {
    grid-area: NewComent;
    background-color: rgb(218, 218, 218);
}

.Signin {
    background-color: rgba(0, 179, 95, 0.603);
    grid-area: Signin;
}

.Comments {
    grid-area: Coments;
    overflow: auto;
    background-color: #fff;
    padding: 15px;

}



